openapi: 3.1.0
info:
  title: DeepSeek R1 Distil Qwen-32B Chat Completion Metrics API
  description: High-capacity LLM for complex tasks
  version: 1.0.0
servers:
- url: https://api.simplismart.live
  description: DeepSeek-R1-Distill-Qwen-32B Proxy Server
security:
- BearerAuth: []
tags:
- name: Metrics
  description: Performance and usage metrics for LLM requests
paths:
  /get/metrics/{request_id}:
    get:
      tags:
      - Metrics
      summary: Get metrics for any LLM chat completion request
      description: Retrieve detailed metrics about token counts, processing time, and performance statistics
      operationId: getChatMetrics
      parameters:
      - name: request_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the chat completion request
      responses:
        '200':
          description: Successful metrics retrieval
          content:
            application/json:
              schema:
                type: object
                required:
                - input_tokens
                - output_tokens
                - time_taken
                properties:
                  input_tokens:
                    type: integer
                    description: Number of input tokens processed
                    example: 41
                  output_tokens:
                    type: integer
                    description: Number of tokens generated
                    example: 758
                  time_taken:
                    type: number
                    description: Total processing time in seconds
                    example: 1.25
                  time_after_first_token:
                    type: number
                    description: Time taken after first token generation
                    example: 1.21
        '404':
          description: Metrics not found
        '500':
          description: Internal server error
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication
