openapi: 3.2.0
info:
  title: Simplismart Flux API
  version: 1.0.0
  description: 'Operations tagged Flux across 2 of this provider''s published API definitions: simplismart-flux-jobs-list-openapi.yml, simplismart-flux-post-training-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://training-suite.simplismart.ai
  description: Simplismart Training Suite API
tags:
- name: Flux
paths:
  /api/flux/training_job/list/:
    get:
      summary: Retrieve a list of flux training jobs
      description: Fetches the list of training jobs associated with an Org using a specified `org_id`.
      operationId: listFluxTrainingJobs
      parameters:
      - name: org_id
        in: query
        required: true
        description: The unique identifier for the organization (UUID format).
        schema:
          type: string
          example: 155db1fc-73ba-46e4-9de6-308f2521c349
      responses:
        '200':
          description: A list of flux training jobs returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingJobList'
        '400':
          description: Bad request due to missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Missing or invalid org_id parameter.
        '401':
          description: Unauthorized, the request lacks valid credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized access. Please provide a valid token.
        '404':
          description: Not found, the requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Flux training job list not found for the provided org_id.
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An unexpected error occurred. Please try again later.
      security:
      - BearerAuth: []
      tags:
      - Flux
    servers:
    - url: https://training-suite.simplismart.ai
      description: Simplismart Training Suite API
  /api/flux/train/:
    post:
      summary: Train model with a dataset
      description: Trigger a model training session by uploading a zip file dataset and providing training parameters.
      operationId: trainModel
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                trigger_word:
                  type: string
                  description: The trigger word for the training session.
                dataset_file:
                  type: string
                  format: binary
                  description: The dataset file in zip format.
                org:
                  type: string
                  description: The organization name for the training.
                request_id:
                  type: string
                  description: A unique identifier for the request.
                rank:
                  type: integer
                  description: The rank to start the training session with.
                steps:
                  type: integer
                  description: The number of training steps.
                lr:
                  type: number
                  format: float
                  description: The learning rate for the training process.
                optimizers:
                  type: string
                  description: The optimizer to be used for training.
              required:
              - trigger_word
              - dataset_file
              - org
              - request_id
              - rank
              - steps
              - lr
              - optimizers
      responses:
        '200':
          description: Training session triggered successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    job_id:
                      type: string
                      description: The unique identifier of the job.
                    status:
                      type: string
                      enum:
                      - COMPLETED
                      - IN_PROGRESS
                      - FAILED
                      description: The current status of the training job.
                    runDuration:
                      type: integer
                      description: The duration of the training run in milliseconds.
                    lora_id:
                      type: string
                      description: The ID associated with the LoRA model.
              example:
              - job_id: abc123
                status: COMPLETED
                runDuration: 2987764
                lora_id: lora_001
        '400':
          description: Bad request. Missing or incorrect parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid input or missing dataset file.
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error occurred while processing the request.
      tags:
      - Flux
components:
  schemas:
    TrainingJobList:
      type: object
      properties:
        training_jobs:
          type: array
          items:
            $ref: '#/components/schemas/TrainingJob'
    TrainingJob:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the training job.
        name:
          type: string
          description: The name of the training job.
        status:
          type: string
          description: Current status of the training job.
          enum:
          - pending
          - running
          - completed
          - failed
        created_at:
          type: string
          format: date-time
          description: Timestamp when the training job was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the training job was last updated.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- simplismart-flux-jobs-list-openapi.yml
- simplismart-flux-post-training-openapi.yml
